{% extends "base.html" %}

{% block title %}Brave Software | About{% endblock %}

{% block mainContent %}


      <div class="page" id="about-page">
        <h1 class="fixed-page-heading invert container">jobs at Brave</h1>
        <section>
            <div class="container">
                <ul class="page-submenu">
                    <li>
                        <a href="about-jobs.html">Jobs</a>
                    </li>
                    <li>
                        <a href="about.html#assets">Media Assets</a>
                    </li>
                    <li>
                        <a href="about.html#team">Team</a>
                    </li>
                    <li>
                        <a href="about.html#press">Press</a>
                    </li>
                    <li>
                        <a href="about.html#overview">Overview</a>
                    </li>
                </ul>
            </div>

            <div id="grnhse_app"></div>
            
            
        </section>
    </div>


{% endblock %}
